/*===============================
GigPress Plugin style Overrides
================================*/

tr.gigpress-header th {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding-bottom: 10px;
}