body,html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
h1{
  font-family: 'Playfair Display SC', serif !important;
  font-weight: 600 !important;
  border-bottom: 1px solid #ddd;
}
h2, h3, legend{
  font-family: 'Playfair Display SC', serif !important; 
}
p, li, label{
  font-family: Georgia, 'Times New Roman', serif !important;
}
/*=============
HELPER CLASSES
===============*/
/*clearFix styles*/
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearAll{
    height: 0px;
    overflow: hidden;
    clear: both;
    margin: 0px;
    padding: 0px;
    float: none;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
/*Margin 0px*/
.margin-0{
  margin: 0 !important;
}
.margin-10{
  margin:10px;
}
.margin-top-0{
  margin-top: 0 !important;
}
.margin-right-0{
  margin-right: 0 !important;
}
.margin-bottom-0{
  margin-bottom: 0 !important;
}
.margin-left-0{
  margin-left: 0 !important;
}
/*Margin 5px*/
.margin-bottom-5{
  margin-bottom: 5px !important;
}
.margin-top-5{
  margin-top: 5px !important;
}
.margin-left-5{
  margin-left:5px !important;
}
.margin-right-5{
  margin-right:5px !important;
}
/*Margin 10px*/
.margin-bottom-10{
  margin-bottom: 10px !important;
}
.margin-top-10{
  margin-top: 10px !important;
}
.margin-left-10{
  margin-left:10px !important;
}
.margin-right-10{
  margin-right:10px !important;
}
/*Margin 15px*/
.margin-bottom-15{
  margin-bottom: 15px !important;
}
.margin-top-15{
  margin-top: 15px !important;
}
.margin-left-15{
  margin-left:15px !important;
}
.margin-right-15{
  margin-right:15px !important;
}
/*Margin 20px*/
.margin-bottom-20{
  margin-bottom: 20px !important;
}
.margin-top-20{
  margin-top: 20px !important;
}
.margin-left-20{
  margin-left:20px !important;
}
.margin-right-20{
  margin-right:20px !important
}
/*Margin 25px*/
.margin-bottom-25{
  margin-bottom: 25px !important;
}
.margin-top-25{
  margin-top: 25px !important;
}
.margin-left-25{
  margin-left:25px !important;
}
.margin-right-25{
  margin-right:25px !important;
}
/*Margin 30px*/
.margin-bottom-30{
  margin-bottom: 30px !important;
}
.margin-top-30{
  margin-top: 30px !important;
}
.margin-left-30{
  margin-left:30px !important;
}
.margin-right-30{
  margin-right:30px !important;
}
.padding-0{
  padding:0 !important;
}
.padding-bottom-10{
  padding-bottom: 10px !important;
}
.wht{
  color:#fff;
}
/*===============
HEADER
================*/
#width-wrapper{
  position: relative;
}
.main-logo{
  position: absolute;
  top: 65px;
  left: 10px;
  z-index: 7;
  background: url(images/mtw-logo.png) no-repeat;
  width: 200px;
  height: 207px;
}
#fixed-menu{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 103%;
  margin: 0 0 0 0;
}
#bs-collapse-1 ul{
  font-family: Georgia, 'Times New Roman', serif !important;
  font-size: 16px;
}
#slider{
  position: relative;
  padding-top: 45%;
  overflow: hidden;
}
#slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  opacity: 0;
}
#slider img.slide{
  height: auto;
}
.controls .pager_list{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.controls .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #fff;
  opacity: .6;
  text-indent: -999px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
}
.controls .pager_list li:hover,
.controls .pager_list li.active{
  opacity: 1;
  background: #fff;
}
/*========
INDEX
==========*/
.latest-news h2{
border-bottom: 1px solid #ddd;
padding-bottom: 10px;
}
.bg-paper{
  background: url(images/lightpaperfibers.png);
}
.bg-fabric{
  background: url(images/bg-fabric.png);
  box-shadow: 20px 0 20px 0;
}
.event-date{
  border-bottom: 1px solid #ddd;
}
.mc4wp-alert,
.mc4wp-error{
  color: #E42D27;
}
.addthis_counter.addthis_pill_style a.addthis_button_expanded{
  width: 39px !important;
}
.news-post-wrapper .addthis_default_style .at300b, 
.news-post-wrapper .addthis_default_style .at300bo, 
.news-post-wrapper .addthis_default_style .at300m,
.music-post-wrapper .addthis_default_style .at300b, 
.music-post-wrapper .addthis_default_style .at300bo, 
.music-post-wrapper .addthis_default_style .at300m{
  width:84px !important;
}
.news-post-wrapper .addthis_toolbox,
.music-post-wrapper .addthis_toolbox{
  width:268px;
}
#youtube-video a img{
  max-width: 350px;
}
/*========
MUSIC
==========*/
/*=========
SHOWS
===========*/
.show-type ul li{
  display: inline;
}
.current,
.current:hover{
  text-decoration: underline;
}
.fa-facebook:hover{
  color:#425f9c;
}
.fa-twitter:hover{
  color: #00C0F7;
}
.fa-instagram:hover{
  color:#ded3c1;
}
.fa-youtube:hover{
  color:#E42D27;
}
.fa-vimeo-square:hover{
  color:#3084b4;
}
/*========
NEWS
==========*/
.news-post-wrapper{
  border-bottom: 1px solid #ddd;
}
/*=========
Photos
===========*/
#instafeed a img{
  margin:10px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
}
/*========
CONTACT
==========*/
/*===============
SINGLE POST PAGE
=================*/
#next-post{
  position: absolute;
  top:250px;
  left:0;
}
#prev-post{
  position: absolute;
  top:250px;
  right: 0;
}
.fa-3{
  font-size: 4em;
}
/*======
BAND
========*/
.member-photo img{
  position: relative;
}
.mouse-enter{
  position: absolute;
  top: 0;
}

/*========
FOOTER
==========*/
/*============================
@media querys custom overrides  
==============================*/
@media (max-width: 768px) {
  #fixed-menu{
    position: static;
  }
  .text-center-xs{
    text-align: center;
  }
  .social-media{
    display: none;
  }
}
@media (min-width: 768px) {
  .social-media-footer{
    display: none;
  }

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}